{
  "model": "sonnet",
  "statusLine": {
    "type": "command",
    "command": "node \"{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-statusbar/statusbar/1.0.0/scripts/statusline.js\" --data-dir \"{{ .chezmoi.homeDir }}/.claude/plugins/data/statusbar-claude-statusbar\""
  },
  "enabledPlugins": {
    "superpowers@superpowers-marketplace": false,
    "statusbar@claude-statusbar": true
  },
  "extraKnownMarketplaces": {
    "superpowers-marketplace": {
      "source": {
        "source": "github",
        "repo": "obra/superpowers-marketplace"
      }
    },
    "claude-statusbar": {
      "source": {
        "source": "github",
        "repo": "SYM1000/claude-statusbar"
      }
    }
  },
  "modelSettings": {
    "claude-opus-5": {
      "effortLevel": "medium"
    }
  },
  "tui": "fullscreen",
  "theme": "dark-daltonized"
}
