<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>10CAE61A-BF74-46E3-A299-43196E26D967</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pin</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Pinboard for</string>
			<key>url</key>
			<string>http://pinboard.in/search/?query={query}&amp;mine=Search+Mine</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>144879F2-2329-437A-8718-3F97F9C11F2D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rtb</string>
			<key>text</key>
			<string>Search Ruby Toolbox for</string>
			<key>url</key>
			<string>https://www.ruby-toolbox.com/search?q={query}</string>
		</dict>
		<key>18444A34-20A3-4246-AA26-868A851658D5</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>port</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search MacPorts for '{query}'</string>
			<key>url</key>
			<string>http://www.macports.org/ports.php?by=name&amp;substr={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>22D0DA5C-B077-4762-83A7-421D9A060711</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>whois</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Whois for</string>
			<key>url</key>
			<string>http://www.whois.net/whois/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>283B562D-DBA7-4251-8EE5-031DB56E0714</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gem</string>
			<key>text</key>
			<string>Search RubyGems for {query}</string>
			<key>url</key>
			<string>https://rubygems.org/search?query={query}</string>
		</dict>
		<key>2CFB209B-1D02-4F05-92CE-FAB4405CF846</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>lpl</string>
			<key>text</key>
			<string>Search LPL catalog for</string>
			<key>url</key>
			<string>https://lawrence.bibliocommons.com/search?t=smart&amp;q={query}&amp;search_destination=catalog</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>31785A0D-E71E-4DA7-B2DD-C52197121CE2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>answer</string>
			<key>text</key>
			<string>Ask O'Reilly, {query}</string>
			<key>url</key>
			<string>https://learning.oreilly.com/answers/results/?question={query}&amp;page=1</string>
		</dict>
		<key>31F91B8C-B092-4AF2-926A-D754000CF049</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>flickr</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Flickr photostream for</string>
			<key>url</key>
			<string>http://www.flickr.com/search/?w=21946080%40N00&amp;q={query}&amp;m=text</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>37C180DF-3415-45CE-9925-E87F274755D1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>animal</string>
			<key>text</key>
			<string>Search O'Reilly menagerie for</string>
			<key>url</key>
			<string>https://www.oreilly.com/animals.csp?x-search={query}&amp;x-sort=animal</string>
		</dict>
		<key>37EB3B29-C1A0-4B66-86E5-55F12BA1F59D</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>f</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Schedule in Fantastical</string>
			<key>url</key>
			<string>x-fantastical://parse?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4C70DB83-7240-422B-9307-E3002B0565D0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>do</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Add to OmniFocus</string>
			<key>url</key>
			<string>omnifocus:///add?name={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>4D827AB6-4D72-4F1E-9753-66677A026C98</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>railscasts</string>
			<key>text</key>
			<string>Railscasts</string>
			<key>url</key>
			<string>http://railscasts.com/episodes?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57A23084-3D15-4E88-9C59-F7416B887361</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>conf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Confluence for {query}</string>
			<key>url</key>
			<string>https://intranet.oreilly.com/confluence/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>61171601-6EB8-4BA3-B4C6-766EBCD8CB2D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nslookup</string>
			<key>text</key>
			<string>Look up IP for</string>
			<key>url</key>
			<string>http://network-tools.com/nslook/Default.asp?domain={query}&amp;type=255&amp;server=67.222.132.199&amp;class=1&amp;port=53&amp;timeout=5000&amp;go.x=0&amp;go.y=0</string>
		</dict>
		<key>671D8AB4-543D-40C3-A370-226848E28503</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>str</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Stratepedia for</string>
			<key>url</key>
			<string>http://www.google.com/search?q={query}+site:stratepedia.org</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>67A7CC97-1302-4B20-BD0E-43A91A364A84</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docker</string>
			<key>text</key>
			<string>Search Docker Hub for {query}</string>
			<key>url</key>
			<string>https://hub.docker.com/search/?isAutomated=0&amp;isOfficial=0&amp;page=1&amp;pullCount=0&amp;q={query}&amp;starCount=0</string>
		</dict>
		<key>6D1248E4-AC06-4F26-BC08-FF87C9CBB8C7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Netflix for</string>
			<key>url</key>
			<string>http://www.netflix.com/search/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>6F0828FA-4DC6-424F-A3AF-DF59CC0A94DA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>http</string>
			<key>text</key>
			<string>HTTP status {query}</string>
			<key>url</key>
			<string>https://httpstatuses.com/{query}</string>
		</dict>
		<key>708FAB93-AF89-4D7F-B240-762241902899</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>explain</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Explain shell</string>
			<key>url</key>
			<string>http://explainshell.com/explain?cmd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>71F04B62-55DD-4549-9D9C-07B01FC4EB64</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>down</string>
			<key>text</key>
			<string>Check Down for Everyone for {query}</string>
			<key>url</key>
			<string>https://downforeveryoneorjustme.com/{query}</string>
		</dict>
		<key>7545E365-0E00-4DC9-A8AF-3A7BDBDEF8B2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>flickrcc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Flickr CC for</string>
			<key>url</key>
			<string>http://compfight.com/search/{query}/1-3-0-1</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>7BF8D6F8-A7CD-4F3B-99A7-E5E96B9E737C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wayback</string>
			<key>text</key>
			<string>Search Web Archive for {query}</string>
			<key>url</key>
			<string>https://web.archive.org/web/*/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7F6C3665-B01A-44B4-86F6-460A9D84CF9C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>git</string>
			<key>text</key>
			<string>Search GitHub for</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
		</dict>
		<key>83625BC0-CBE3-4464-8556-00329AA0917B</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>plural</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Pluralsight for {query}</string>
			<key>url</key>
			<string>http://pluralsight.com/training/Courses/Find?highlight=true&amp;searchTerm={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9300BC5F-5C87-49C7-B5E6-C01D483ADF10</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>intranet</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search ORM Intranet for</string>
			<key>url</key>
			<string>https://intranet.oreilly.com/confluence/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>965DE1A5-5E29-4712-A2F5-27DF555DFB56</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>intranet</string>
			<key>text</key>
			<string>Search ORM intranet for {query}</string>
			<key>url</key>
			<string>https://intranet.oreilly.com/confluence/dosearchsite.action?queryString={query}</string>
		</dict>
		<key>9EFC19AF-EE02-4AEC-891F-35B9A95E5617</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>brew</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Homebrew for</string>
			<key>url</key>
			<string>http://braumeister.org/search/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>9F71A31E-3149-4223-B8CF-204A84A547A0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ruby</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Ruby docs for {query}</string>
			<key>url</key>
			<string>http://ruby-doc.com/search.html?cx=011815814100681837392%3Awnccv6st5qk&amp;q={query}&amp;sa=Search&amp;cof=FORID%3A9</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A142F741-F110-452B-A19B-006BEFD0EF17</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ku</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search KU People for</string>
			<key>url</key>
			<string>https://myidentity.ku.edu/directory/search?searchfor_name={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>A5D2EBB3-041A-4529-84ED-5BF17B989E7B</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>wx</string>
			<key>text</key>
			<string>Weather forecase for {query}</string>
			<key>url</key>
			<string>https://www.accuweather.com/en/search-locations?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ACED9BB9-3162-4DDA-9F55-D0313DC41EDF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sbo</string>
			<key>text</key>
			<string>Search Safari for {query}</string>
			<key>url</key>
			<string>https://learning.oreilly.com/search/?query={query}&amp;extended_publisher_data=true&amp;highlight=true&amp;include_assessments=false&amp;include_case_studies=true&amp;include_courses=true&amp;include_orioles=true&amp;include_playlists=true&amp;is_academic_institution_account=false&amp;sort=relevance</string>
		</dict>
		<key>AE344B8B-BC91-4CA7-BDF5-E174F5E15072</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vw</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Vim Wiki for</string>
			<key>url</key>
			<string>http://vim.wikia.com/wiki/Special:Search?search={query}&amp;fulltext=Search&amp;resultsLang=en</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AF87215F-1025-442C-AE35-B0417CBBA531</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search npm for {query}</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
		</dict>
		<key>BB0D3054-B11A-4C3C-8FFF-BDDE1BA80547</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ansible</string>
			<key>text</key>
			<string>Search Ansible Galaxy roles for {query}</string>
			<key>url</key>
			<string>https://galaxy.ansible.com/search?keywords={query}&amp;order_by=-relevance&amp;page=1&amp;page_size=10&amp;deprecated=false&amp;type=role</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C0A9CCAA-693F-4ADC-AB8A-641B678DBFAF</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>lawrence</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Lawrence for</string>
			<key>url</key>
			<string>http://www2.ljworld.com/marketplace/lawrence/search/?q={query}&amp;location=66044&amp;market=%2Fmarketplace%2Flawrence%2F&amp;lat=39.0176677&amp;long=-95.2057909&amp;rad=20</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>C7246ED0-1003-4F88-9B65-99F0C51E88F7</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>crl</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search CRL for</string>
			<key>url</key>
			<string>http://www.google.com/search?q={query}+site:kucrl.org</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>D2D02C20-D2BC-49C4-AC29-B2502CB25BB4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ssh</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>SSH into</string>
			<key>url</key>
			<string>ssh://{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>D3CA61F6-D623-4896-BFB6-A7225F1C3DF2</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ljw</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search LJW for</string>
			<key>url</key>
			<string>http://www.google.com/search?q=site:ljworld.com+{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>DE3A30E3-6A52-4D82-8407-2EE6551D66F0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>orm</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search O'Reilly for</string>
			<key>url</key>
			<string>http://search.oreilly.com/?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>DEC1F21B-C7A7-44AB-BDE1-1E35F54E53A3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>time</string>
			<key>text</key>
			<string>What time is it in</string>
			<key>url</key>
			<string>http://time.is/{query}</string>
		</dict>
		<key>E9AC31DA-AB97-46ED-A183-62FFCA2FBDF5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cc</string>
			<key>text</key>
			<string>Search Google reusable images for</string>
			<key>url</key>
			<string>http://www.google.com/search?as_q={query}&amp;hl=en&amp;biw=1219&amp;bih=936&amp;tbm=isch&amp;btnG=Google+Search&amp;as_epq=&amp;as_oq=&amp;as_eq=&amp;as_sitesearch=&amp;safe=images&amp;as_st=y&amp;tbs=iur:f</string>
		</dict>
		<key>F57362BA-A1D2-48D5-9BAD-C932E8E388B1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>code</string>
			<key>text</key>
			<string>Search ORM repos for</string>
			<key>url</key>
			<string>https://github.com/search?q=org%3Asafarijv+org%3Aoreillymedia+{query}&amp;type=Repositories</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
